@charset "UTF-8";
.reserv__ville {
  display: flex;
  justify-content: center;
  align-items: center;
}

.plat aside, .restau aside, .fonct li, .btn {
  box-shadow: 0px 8px 3px #eaeaea;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

ul, ol {
  list-style-type: none;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
header span {
  font-size: 1.3em;
  position: absolute;
  left: 5%;
}
header h1 {
  margin: 20px auto;
}
header .hid {
  display: none;
}

footer {
  background-color: black;
  height: 250px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
footer h2 {
  margin: 25px 0 0 25px;
}
footer img {
  filter: invert(100%);
  height: 60%;
}
footer ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  height: 60%;
  font-size: 1.4em;
  padding-left: 25px;
  margin-top: 0;
}
footer a {
  color: white;
}
footer .fa-solid {
  width: 15px;
  margin-right: 25px;
}

.btn {
  font-size: 1.3em;
  width: 50%;
  height: 60px;
  border: none;
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-radius: 30px;
}

.reserv {
  background-color: #f6f6f6;
  height: 450px;
}
.reserv__ville {
  background-color: #eaeaea;
  width: 100%;
  height: 15%;
  font-size: 1.3em;
  font-weight: bold;
}
.reserv__info {
  height: 85%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.reserv h2 {
  font-size: 2em;
  font-weight: 900;
  width: 70%;
  margin-top: 0;
}
.reserv p {
  font-size: 1.5em;
  width: 90%;
  margin-top: 0;
}
.reserv .fa-solid {
  margin-right: 30px;
}

.fonct {
  width: 90%;
  height: 600px;
  margin: auto;
}
.fonct h2 {
  padding-top: 50px;
  text-align: left;
  font-size: 2.2em;
}
.fonct ol {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70%;
  margin: auto;
  padding: 0;
  counter-reset: repas;
}
.fonct li {
  counter-increment: repas;
  height: 80px;
  width: 100%;
  background-color: #f6f6f6;
  text-align: left;
  font-size: 1.2em;
  font-weight: 600;
  padding-top: 10px;
  border-radius: 25px;
}
.fonct li:hover {
  background-color: #f1e7ff;
}
.fonct li:hover .fa-solid {
  color: #9356DC;
}
.fonct li:before {
  content: counter(repas);
  background-color: #9356DC;
  color: white;
  padding: 5px 10px;
  border-radius: 50px;
  position: relative;
  right: 7px;
}
.fonct .fa-solid {
  padding: 20px 30px;
  font-size: 1.2em;
}

.restau {
  background-color: #f6f6f6;
  height: 1700px;
}
.restau h2 {
  padding-top: 75px;
  text-align: left;
  font-size: 2em;
  width: 90%;
  margin: auto;
}
.restau aside {
  width: 90%;
  height: 350px;
  margin: 25px;
  border-radius: 25px;
}
.restau .image {
  height: 70%;
}
.restau img {
  width: 100%;
  height: 100%;
  border-radius: 25px 25px 0 0;
}
.restau span {
  background-color: #99E2D0;
  padding: 10px;
  position: relative;
  bottom: 220px;
  left: 170px;
  border-radius: 5px;
}
.restau__info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  background-color: white;
  padding: 20px;
  border-radius: 0 0 25px 25px;
  font-size: 1.5em;
  height: 30%;
}
.restau h3, .restau p {
  margin: 0;
}

.palette {
  background: url("../images/restaurants/palette-du-goût.jpg") scroll no-repeat;
  width: 100%;
  height: 350px;
  background-size: 100% 350px;
}

.note {
  background: url("../images/restaurants/note-enchantée.jpg") scroll no-repeat;
  width: 100%;
  height: 350px;
  background-size: 100% 350px;
}

.française {
  background: url("../images/restaurants/française.jpg") scroll no-repeat;
  width: 100%;
  height: 350px;
  background-size: 100% 350px;
}

.delice {
  background: url("../images/restaurants/délice-des-sens.jpg") scroll no-repeat;
  width: 100%;
  height: 350px;
  background-size: 100% 350px;
}

.menus {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
  width: 100%;
  padding-bottom: 80px;
}
.menus h2 {
  font-family: "Shrikhand", cursive;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  height: 90px;
  margin: 0;
  font-size: 2.2em;
  position: relative;
  bottom: 70px;
  background-color: #f6f6f6;
  border-radius: 60px 60px 0 0;
}
.menus h2 p {
  margin: 0;
}

.plat {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 85%;
  margin: 20px auto;
  position: relative;
  bottom: 50px;
}
.plat h4 {
  font-size: 1.5em;
  font-weight: 500;
  margin: 0 0 15px 5px;
}
.plat aside {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  background-color: white;
  width: 100%;
  height: 90px;
  margin: 10px 0;
  border-radius: 25px;
}
.plat div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  height: 80px;
  margin-left: 20px;
}
.plat h3 {
  text-align: left;
  margin: 3px;
  font-size: 1.4em;
}
.plat p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  width: 85%;
  margin: 3px;
  font-size: 1.2em;
}
.plat span {
  font-size: large;
  margin: 0 25px 13px 0;
}

/*# sourceMappingURL=style.css.map */
