@mixin flex($dis,$dir,$wrap,$just,$align) {
    display: $dis;
    flex-flow: $dir $wrap;
    justify-content: $just;
    align-items: $align;
}

@mixin ellipsis {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

@mixin taile-photo($wid,$hei) {
    width: $wid;
    height: $hei;
    background-size: $wid $hei;
}

@mixin palette-du-gout {
    background: url("../images/restaurants/palette-du-goût.jpg") scroll no-repeat ;
    
}

@mixin note-enchantee {
    background: url("../images/restaurants/note-enchantée.jpg") scroll no-repeat ;
    
}

@mixin francaise {
    background: url("../images/restaurants/française.jpg") scroll no-repeat ;
    
}

@mixin delice-des-sens {
    background: url("../images/restaurants/délice-des-sens.jpg") scroll no-repeat ;
   
}
