.menus{
    @include flex(flex, column, nowrap, space-between, center);
    background-color: $greyc;
    width: 100%;
    padding-bottom: 80px;
    h2{
        font-family: 'Shrikhand', cursive;
        @include flex(flex, row, nowrap, space-around, flex-end);
        width: 100%;
        height: 90px;
        margin: 0;
        font-size: 2.2em;
        position: relative;
        bottom: 70px;
        background-color: $greyc;
        border-radius: 60px 60px 0 0;
        p{
            margin: 0;
        }
        .coeurs{
            position: relative;
            .fa-heart{
                position: absolute;
                right: 0px; 
                bottom: 13px;           
            }
            .fa-solid{
                color: white;
                font-size: 29px;
                right: 3px;
                bottom: 17px;
            }
        }
    }
}
.plat{
    @include flex(flex, column, nowrap, space-between, flex-start);
    width: 85%;
    margin: 20px auto;
    position: relative;
    bottom: 50px;
    h4{
        font-size: 1.5em;
        font-weight: 500;
        margin: 0 0 15px 5px;
        
    }
    h4::after{
        content: "";
        width: 60px;
        height: 3px;
        background: $color-tertiary;
        position: absolute;
        top: 30px;
        left: 5px;
    }
    aside{
        @include flex(flex, row, nowrap, space-between, flex-end);
        @extend %shadow;
        @include ellipsis;
        cursor: pointer;
        background-color: white;
        width: 100%;
        height: 90px;
        margin: 10px 0;
        border-radius: 25px;
    }
    &__titre{
        @include flex(flex, column, nowrap, center, flex-start);
        flex-grow: 1;
        width: 40%;
        margin-left: 20px;
        height: 80px;
    }
    h3{
        @include ellipsis;
        margin: 3px;
        font-size: 1.4em;
    }
    p{
        @include ellipsis;
        margin: 3px;
        font-size: 1.2em;
    }
    &__prix{
        font-size: large;
        margin: 0 25px 13px 0;
    }
    .check{
        display: none;
        position: relative;
        width: 20%;
        height: 100%;
        &__box{
            background-color: $color-tertiary;
            position: absolute;
            border-radius: 0 25px 25px 0;
            width: 100%;
            height: 100%;
        }
        &__sign{
            display: block;
            position: absolute;
            color: white;
            font-size: 1.8em;
            top: 30%;
            left: 40%;
        }
    }
}