.restau{
    background-color: $greyc;
    height: 1650px;
    h2{
        padding: 40px 0px 0px 0px;
        text-align: left;
        font-size: 2em;
        width: 90%;
        margin: auto;
    }
    aside{
        width: 90%;
        height: 350px;
        margin: 25px auto;
        border-radius: 25px;
        @extend %shadow;
    }
    .image{
        height: 70%;
    }
    img{
        width: 100%;
        height: 100%;
        border-radius: 25px 25px 0 0;
    }
    span{
        background-color: $color-tertiary;
        color: green;
        padding: 5px;
        position: relative;
        bottom: 90%;
        left: 40%;
        border-radius: 5px;
    }
    &__info{
        @include flex(flex, row, nowrap, space-between, center);
        text-align: left;
        background-color: white;
        padding: 20px;
        border-radius: 0 0 25px 25px;
        font-size: 1.5em;
        height: 30%;
    }
    .coeurs{
        position: relative;
        .fa-heart{
            position: absolute;
            right: 10px;            
        }
        .fa-solid{
            color: white;
            font-size: 0.8em;
            right: 12px;
            top: 2px;
        }
    }
}