footer{
    background-color: black;
    height: 250px;
    @include flex(flex, column, nowrap, space-between, flex-start);
    h2{
        margin: 25px 0 0 25px;
    }
    img{
        filter: invert(100%);
        height: 60%;
    }
    ul{
        @include flex(flex, column, nowrap, space-between, flex-start);
        height: 60%;
        font-size: 1.4em;
        padding-left: 25px;
        margin-top: 0;
    }
    a{
        color: white;
    }
    .fa-solid{
        width: 15px;
        margin-right: 25px;
    }
}