.btn{
    font-size: 1.2em;
    width: 50%;
    height: 60px;
    border: none;
    background-image: linear-gradient( $color-secondary, $color-primary);
    color: white;
    border-radius: 30px;
    @extend %shadow;
    &:hover{
        opacity: 0.8;
        @extend %shadow2;
    }
}