@keyframes enter{
    from{
        transform-origin: right;
        transform: translateX(100%)
    }
    to{
        transform: translateX(0%);
    }
}

@keyframes rotat {
    from{
        
        transform: rotate(-1turn);
    }
    to{
        transform: rotate(0);
    }
}


.plat{
    aside:hover .check{
        display: block;
        animation: enter 700ms ease-in-out;
    }
    .check__sign{
        animation: rotat 700ms linear;
    }
}
