@keyframes coeur{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        color: $color-primary;
    }
}
.fa-heart{
    transition: all 1s;
    &:hover {
        animation: coeur 1S ease-out forwards; 
    }
}