@keyframes deplacement{
    from{
        opacity: 0;
        transform: translateY(10px);
    }
    to{
        opacity: 1;
        transform: translate(0);
    }
}
.plat{
    aside{
        animation: deplacement 2s ease-in-out;
    }
    aside{
        animation: deplacement 2s ease-in-out 100ms;
    }
    .plat3{
        animation: deplacement 2s ease-in-out 200ms;
    }
    .plat4{
        animation: deplacement 2s ease-in-out 200ms;
    }
}
